@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Important variables for dark mode switch */
:root {
  --font-grey: rgb(188, 188, 188);
  --font-color: rgb(255, 255, 255);
  --bg-color: rgb(0, 0, 0);
}

/*  *  */
* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}


/* TAGS */

/* text box input style */
#post-Input {

    background-color: var(--bg-color);
    color: var(--font-color);
    width: 480px;
    height: 50px;
}

/* Style for the post button */
#post-button {

    margin-left: 70%;
    width: 70px;
    height: 30px;
    border-radius: 20px;
    border-color: var(--font-color);
    background: rgb(70, 141, 255);
    color: white;
}

/* CONTAINERS */

/* Main box for post segment */
.post-Box1 {

    vertical-align: top;
    margin-left: 25%;
    width: 600px;
    height: 250px;
    background-color: var(--bg-color);
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: var(--font-grey);
    position: absolute;
}

/* Sub boxes that hold evrything else */ 
.post-SubBox1 {

    vertical-align: top;
    padding-left: 10px;
    padding-top: 10%;
    width: auto;
    height: 50%;
    text-align: center;
    color: var(--font-color);
}

.post-SubBox2 {
    
    vertical-align: bottom;
    padding-top: 10%;
    padding-left: 5%;
    width: 95%;
    height: 15%;
    text-align: left;
    color: rgb(70, 141, 255);
    font-size: 20px;
}

/* Holds the text box input */
.post-TextBox {
    
    padding-top: 10%;
    padding-left: 5px;
}

/* The line that seperates the stuff above it from the stuff below it */
.post-Line {

    width: auto;
    height: 2px;
    background: var(--font-color);
}

/* Holds profile picture */
.post-ProfileBox {

    width: 53px;
    height: 53px;
    border: solid;
    border-width: 1px;
    position: absolute;
    border-color: var(--font-grey);
}


