@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root {
  --font-grey: grey;
  --font-color: black;
  --bg-color: white;
}


* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: var(--font-color);
  background: var(--bg-color);

}

/* Nav link tag */
#nav-link {

  text-decoration: none;
}

/* Main nav box */
.nav-Box {

  display: flex;
  margin-right: auto;
  background-color: var(--bg-color);
  width: 35vh;
  height: 140vh;
  position: absolute;
}

/* holds the majority of the nav's text */
.nav-TextContainer {
 
  text-align: left;
  width: 200px;
  padding-top: 30px;
  margin-left: 15px;
}

/* holds that line that seperates the nav from everythibg else */
.nav-LineContainer {

  flex: 1;
  padding-top: 20px;
}

/* that line that seperates the nav from everythibg else */
.nav-Line {
 
  width: 2px;
  height: 135vh;
  margin-left: 65px;
  background-color: var(--font-color);
}


/* LIGHT AND DARKMODE SWITCH */

/* hold the switch */
.switch-Container {

  padding-top: 100vh;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* style for the slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* style for after slider is toggled */
input:checked + .slider {
  background-color: #2196F3;
  

}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
  
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  
}

/* makes slider round */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
