@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --font-grey: grey;
  --font-light-grey: #ccc;
  --font-color: #222;
  --bg-color: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.nav-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-link i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 32px;
  align-self: center;
}

/* Main nav box */
.nav-Box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  width: 240px;
  height: 1000px;
  padding-top: 32px;
  position: sticky;
  top: 0;
  font-size: 1.3rem;
}

.sticky {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 16px;
  position: sticky;
  top: 32px;
}

/* LIGHT AND DARKMODE SWITCH */

/* hold the switch */
.switch-Container {
  display: flex;
  gap: 16px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* style for the slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* style for after slider is toggled */
input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* makes slider round */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* right side bar */
aside {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-top: 32px;
  margin-left: 32px;
  gap: 32px;
}

.aside-box {
  display: flex;
  border-radius: 8px;
}

.aside-box h3 {
  border-bottom: 4px var(--font-color) solid;
  padding-bottom: 4px;
}

footer p {
  color: var(--font-color);
  font-size: 0.8rem;
  text-justify: center;
}

.vid-box {
  height: 320px;
  background-color: var(--font-light-grey);
  padding: 16px;
  color: var(--font-color);
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.search-input {
  width: 100%;
  background-color: var(--font-light-grey);
  height: 40px;
  border: none;
  padding: 0px 32px;
  padding-left: 56px;
  border-radius: 32px;
  font-size: 1rem;
  color: var(--font-color);
}

.search-input::placeholder {
  color: var(--font-color);
}

.search-icon {
  color: var(--font-color);
  background: none;
  position: absolute;
  align-self: center;
  font-size: 1.5rem;
  transform: translateX(16px);
}

.news-vid {
  width: 100%;
  height: 110px;
  border-radius: 8px;
}
