@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Important variables for dark mode switch */
:root {
  --font-grey: rgb(188, 188, 188);
  --font-light-grey: #ccc;
  --font-color: rgb(255, 255, 255);
  --bg-color: rgb(0, 0, 0);
}

/* TAGS */

/* text box input style */
#post-Input {
  background-color: var(--font-light-grey);
  border: none;
  color: var(--font-color);
  width: 480px;
  height: 64px;
  border-radius: 8px;
  padding: 16px;
}

#post-Input::placeholder {
  color: var(--font-grey);
}

/* Style for the post button */
#post-button {
  margin-left: 70%;
  width: 70px;
  height: 30px;
  border-radius: 8px;
  border-color: var(--font-color);
  background: #2196f3;
  color: var(--bg-color);
}

#post-image {
  height: 64px;
  width: 64px;
  border-radius: 100px;
}

/* CONTAINERS */

/* Main box for post segment */
.post-Box1 {
  vertical-align: top;
  width: 100%;
  background-color: var(--bg-color);
  padding: 16px;
}

/* Sub boxes that hold evrything else */
.post-SubBox1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: auto;
  text-align: center;
  color: var(--font-color);
}

.post-SubBox2 {
  width: 95%;
  text-align: left;
  color: #2196f3;
  font-size: 1.5rem;
}

/* The line that seperates the stuff above it from the stuff below it */
.post-Line {
  width: auto;
  height: 2px;
  background: var(--font-color);
}
